body {
  padding-top: 0px;
}
.right-padding {
  padding-right: 5px;
}
.left-padding {
  padding-left: 5px;
}
.wrapper {
  padding: 5px;
}
.border-rounded {
  border: 1px solid #C0C0C0;
  border-radius: 5px;
}
.table {
  min-width: 100px;
}
td {
  text-align: left;
}
.btn {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
  width: auto;
	height: 30px;
	font-weight: normal;
	padding: 5;
	text-transform: uppercase;
	border-color: #59B2E6;
  margin-left: 2px;
  margin-right: 2px;
}
#playerSelectionModal .modal-dialog {
	min-width: 250px;
	max-width: 300px;
}
